/* modal-upload */
.modal-upload-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-upload {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    width: 800px;
    height: 464px;
}

.modal-upload-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
}

.modal-upload-img-close {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 16px 10px;
}

.close-btn-img {
    width: 12px;
    height: 12px;
}

.modal-upload-content {
    color: #0B101A;
    margin-left: 16px;
    font-weight: 600;
    font-size: 18px;
}

.modal-upload-middle {
    border: 1px solid white;
    width: 464px;
    margin-top: 0;
    margin-bottom: 0;
}

.cancel-btn {
    background-color: #fff;
    color: #2A3958;
    border: 1.5px solid #2A3958;
}

.divider-modal {
    border: 1px solid #D7D8DA;
    width: 100%;
}

.divider_modal_2 {
    position: relative;
    bottom: 15px;
}

.modal-upload-btn-bottom {
    margin: auto;
    display: flex;
    gap: 0.5rem;
    position: relative;
    bottom: 35px;
}

.modal-upload-suggestions {
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
    margin-left: 18px;
}