/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 198px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.modal-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-img-close {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 16px 10px;
}

.alert-btn-img {
    width: 30px;
    height: 30px;
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.ok-btn {
    border: none;
    cursor: pointer;
    background-color: #2A3958;
    color: #fff;
    height: 44px;
    width: 170px;
    border-radius: 10px;
}

.modal-btn-bottom {
    margin: auto;
}

.close-btn-img {
    width: 12px;
    height: 12px;
}

.modal-content {
    color: #0B101A;
    margin-left: 16px;
    font-weight: 600;
    font-size: 18px;
}